<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>글 목록</title>
<link rel="stylesheet" th:href="@{/css/board.css}"/>
</head>
<body>
<div id="wrapper" >
   <div id="title">
      <h1>게시글 목록</h1>
      <h3><font color="gray" th:text="${session['member'].name}"></font>님 게시판 입장을 환영합니다.</h3>
   </div>
   <div id="content" class="listBoard" >
      <table>
         <colgroup>
            <col width="50" >
            <col width="400" >
            <col width="100" >
            <col width="150" >
            <col width="100" >
         </colgroup>
         <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
            <th>조회수</th>
         </tr>
          
         <tr th:each="board, state : ${boardList}" >
            <td th:text="${state.count}" class="alignCenter"/>
            <td><a th:text="${board.title}"class="alignCenter" th:href="@{/board/getBoard(action='getBoard',seq=${board.seq})}"></a></td>
            <td th:text="${board.writer}"class="alignCenter"/>
            <td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"class="alignCenter"/>
            <td th:text="${board.cnt}" class="alignCenter"/>
         </tr>      
      </table>
   </div>
   <div class="button">
      <a th:href="@{/board/insertBoard}">새글 등록</a>
      <a th:href="@{/member/logout}">로그아웃</a>
   </div>
</div>
</body>
</html>